[submodule "kamcord-android-sdk"]
	path = kamcord-android-sdk
	url = https://github.com/kamcord/kamcord-android-sdk.git
[submodule "TheElements-dev/src/com/idkjava/thelements/keys"]
	path = TheElements-dev/src/com/idkjava/thelements/keys
	url = git@bitbucket.org:idkjava/thelements-keys.git
[submodule "Android-WVersionManager"]
	path = Android-WVersionManager
	url = git@github.com:winsontan520/Android-WVersionManager.git
