[submodule "TheElements-dev/src/com/idkjava/thelements/keys"]
	path = TheElements-dev/src/com/idkjava/thelements/keys
	url = git@bitbucket.org:idkjava/thelements-keys.git
[submodule "Android-WVersionManager"]
	path = Android-WVersionManager
	url = git@github.com:IDKJava/Android-WVersionManager.git
[submodule "protobuf"]
	path = protobuf
	url = git@github.com:google/protobuf.git
