*~
*.o
*.pb.cc
*.pb.h
bin/
gen/
obj/
libthelements.so
local.properties
gradle.properties
.gradle
build/
.settings/
out/
*/.idea/workspace.xml
*/.idea/libraries
*/.idea/tasks.xml
*/.idea/.name
*/.idea/compiler.xml
*/.idea/copyright/profiles_settings.xml
*/.idea/encodings.xml
*/.idea/misc.xml
*/.idea/modules.xml
*/.idea/scopes/scope_settings.xml
*/.idea/vcs.xml
*/.idea/gradle.xml
*.iml
