<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="sand.falling.opengl" android:versionName="4.11" android:versionCode="43"> 
    <application android:label="@string/app_name" android:icon="@drawable/icon2">
    	<activity android:name=".Menu"
    			  android:label="@string/app_name"
    			  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|fontScale">
    		<intent-filter>
    			<action android:name="android.intent.action.MAIN" /> 
    			<category android:name="android.intent.category.LAUNCHER" />
    	        
    		</intent-filter>
    	</activity>
    	

		<meta-data android:name="com.mobclix.APPLICATION_ID" android:value="08768ce7-859d-4f21-b2b7-f8eed8c6da74"/>
    	<activity android:name=".Splash"
    			  android:label="@string/app_name"
    			  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|fontScale">
    		<intent-filter>
    			<action android:name="android.intent.action.MAIN" />
    			<category android:name="android.intent.category.SAMPLE_APP" />
    		</intent-filter>
    	</activity>
        <activity android:name=".DemoActivity"
				  android:screenOrientation="portrait"
                  android:label="@string/app_name"
    			  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|fontScale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_APP" />
            </intent-filter>
        </activity>
        <activity android:name=".preferences.PreferencesFromCode"
                  android:label="@string/app_name"
    			  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|fontScale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_APP" />
            </intent-filter>
        </activity>
         <activity android:name=".custom.CustomMaker"
                  android:label="@string/app_name"
    			  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|fontScale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_APP" />
            </intent-filter>
        </activity>
    </application>
    <uses-sdk android:minSdkVersion="4" />
    
    
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		/>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
		

</manifest> 
